# Путь до рабочей директории
build/

# Логи файлов
*.log

# Отслеживание двоичных файлов
*.exe
*.out
*.dll
*.so

# Файлы с кэшем
*.cache

# Локальные настройки IDE
.idea/
.vscode/

# Отслеживание временных файлов
*.tmp

# Дополнительные пути и файлы
/node_modules/
/vendor/